streamlit==1.28.2
requests==2.31.0
matplotlib==3.8.2
transformers==4.35.2
beautifulsoup4==4.12.2
autoscraper==1.1.14
torch==2.1.1
urllib3==1.26.7
numpy==1.19.3
plotly==5.18.0
selenium==4.15.2
scipy==1.11.4
altair==4.1.0
pandas==2.1.3